<section
  class="flex flex-col items-center h-fit bg-neutral-focus py-14 scroll-mt-16 md:bg-transparent"
  id="contact"
>
  <h1 class="text-5xl font-semibold font-chakra m-2">
    <span class="text-accent">&#123</span> Contacto <span class="text-accent"
      >&#125</span
    >
  </h1>
  <form
    action=`https://formsubmit.co/ramiromoraleskraff@gmail.com`
    method="POST"
    class="border-1 p-4 flex flex-col w-full max-w-2xl items-center"
  >
    <input
      type="email"
      name="email"
      placeholder="Email"
      class="input input-bordered input-lg w-full m-4 focus:input-primary"
    />
    <select
      name="motive"
      class="select select-bordered w-full select-lg m-4 focus:select-primary"
    >
      <option disabled selected>Motivo</option>
      <option class="text-base">Propuesta laboral</option>
      <option class="text-base">Propuesta freelance</option>
      <option class="text-base">Feedback</option>
      <option class="text-base">Otro</option>
    </select>
    <input
      type="text"
      name="name/company"
      placeholder="Nombre/Empresa"
      class="input input-bordered w-full m-4 focus:input-primary input-lg"
    />
    <textarea
      name="message"
      class="textarea textarea-bordered m-4 focus:textarea-primary textarea-lg w-full h-56"
      placeholder="Escribe tu mensaje..."></textarea>
    <button type="submit" class="btn btn-secondary">Enviar</button>
  </form>
</section>
