---
const skillsSvg = [
  { name: "React", link: "/technologies/react.svg" },
  { name: "Express", link: "/technologies/express.svg" },
  { name: "JavaScript", link: "/technologies/javascript.svg" },
  { name: "NodeJs", link: "/technologies/nodejs.svg" },
  { name: "TypeScript", link: "/technologies/typescript.svg" },
  { name: "MongoDB", link: "/technologies/mongodb.svg" },
  { name: "PostgreSQL", link: "/technologies/postgresql.svg" },
  { name: "Prisma", link: "/technologies/prisma.svg" },
  { name: "Tailwind", link: "/technologies/tailwind.svg" },
  { name: "HTML", link: "/technologies/html.svg" },
  { name: "CSS", link: "/technologies/css.svg" },
];
---

<div
  class="h-auto w-full flex flex-col items-center pt-16 pb-14 scroll-mt-16 bg-neutral-focus md:bg-main"
  id="skills"
>
  <h1 class="text-5xl font-semibold font-chakra mb-4">
    <span class="text-accent">&#123</span> Habilidades <span class="text-accent"
      >&#125</span
    >
  </h1>
  <div class="flex flex-wrap justify-around">
    {
      skillsSvg.map((technologie) => (
        <div class="tooltip tooltip-primary" data-tip={technologie.name}>
          <img
            class="h-20 w-20 m-4 2xl:h-24 2xl:w-24"
            src={technologie.link}
            alt=""
          />
        </div>
      ))
    }
  </div>
</div>
