<div class="flex flex-col h-full text-lg w-full p-4 mb-8 2xl:mx-10 2xl:text-xl">
  <p>
    Desarrollador entusiasta de tecnologías emergentes y siempre dispuesto a
    aprender cosas nuevas. Cada día intento centrar mas mis conocimientos en el
    backend.
  </p>
  <br />
  <p>
    Me considero autodidacta y dedico la mayor parte de mi tiempo a desarrollar
    nuevas habilidades.
  </p>
  <br />
  <p>
    Una de mis fortalezas es mi habilidad para comunicarme efectivamente.
    <br />
    Creo firmemente en la importancia de esta habilidad para lograr resultados exitosos
    en cualquier proyecto.
  </p>
</div>
