<div class="navbar fixed top-0 z-50 bg-primary-focus text-zinc-100 md:px-10">
  <div class="navbar-start">
    <a class="btn btn-ghost normal-case text-xl" href="#landing">
      <p class="mr-2 font-press font-bold text-2xl font-chakra">
        &#123 R &#125
      </p>
      <p class="text-lg">Ramiro Morales Kraff</p></a
    >
  </div>
  <div class="navbar-end">
    <div class="dropdown dropdown-end md:hidden">
      <label tabindex="0" class="btn btn-ghost btn-circle">
        <svg
          class="swap-off fill-current"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 512 512"
          ><path
            d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"
          ></path></svg
        >
      </label>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li><a href="#experience">Experiencia</a></li>
        <li><a href="#about">Sobre Mi</a></li>
        <li><a href="#skills">Habilidades</a></li>
        <li><a href="#project">Proyectos</a></li>
        <li><a href="#contact">Contacto</a></li>
      </ul>
    </div>
    <div class="h-5 w-auto items-center hidden md:flex">
      <a href="#experience" class="btn btn-ghost normal-case text-xl"
        >Experiencia</a
      >
      <a href="#about" class="btn btn-ghost normal-case text-xl">Sobre Mi</a>
      <a href="#project" class="btn btn-ghost normal-case text-xl">Proyectos</a>
      <a href="#contact" class="btn btn-ghost normal-case text-xl">Contacto</a>
    </div>
  </div>
</div>
