<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Portfolio de Ramiro Morales Kraff. Desarrollador Full Stack."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Ramiro Morales Dev</title>
  </head>
  <!-- bg-gradient-to-r from-slate-50 to-slate-500 -->
  <body
    class="flex font-mono h-[100vh] items-center justify-center text-zinc-100"
  >
    <slot />
  </body>
</html>
